body {
    width: 100%;
    text-align: center;
}

.area, .id, .name, .description, .credits, .prereq, .rec {
    width: 100%;
}

.sect {
    display: grid;
}

input {
    margin-left: 0vw;
}

.mainlabel {
    padding: 12px 19px;
    background: red;
    width: max-content;
    margin-bottom: 20px;
}

.form {
    display: inline-flex;
}

.coursesubmit {
    justify-content: center;
    display: grid;
}

.spacer {
    width: 15vw;
}

.button {
    height: min-content;
    border: 2px outset black;
    width: min-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

button:hover {
    border: 2px inset black;
}

.prereqrec {
    display: flex;
}

.prereqgroup, .recgroup {
    display: grid;
    width: stretch;
    height: max-content;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.course {
    margin-bottom: 10px;
}

.prereqgroup button, .recgroup button {
    height: min-content;
    width: min-content;
    padding: 2px 5px;
}

.buttons {
    height: min-content;
    display: inline-flex;
    width: max-content;
    margin-bottom: 10px;
}

    .buttons button {
        margin-right: 15px;
    }
