/*General CSS*/
main {
    width: calc(100%);
    overflow-x: hidden;
}

    main body {
        width: calc(100%);
        justify-content: left;
    }

.area {
    margin-left: 3%;
    margin-top: 15px;
}

/*Header CSS*/
.sectional {
    display: flex;
}

.degreeinfo {
    padding-top: 20px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px
}

.label {
    user-select: none;
    font-weight: 400;
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
}

.title {
    font-weight: 600;
}

.butselbar {
    border: 3px solid #85202d;
    border-radius: 5px;
    display: inline-flex;
    height: 50px;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.butsel {
    user-select: none;
    justify-content: center;
    height: auto;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #1d1d1d;
    width: 34%;
    overflow: hidden;
    background-color: #b02b3c;
}

    .butsel.active {
        background-color: #7d202c;
        color: black;
        font-weight: 600;
    }

/*Course Selection CSS*/

.sectionlabel {
    user-select: none;
    color: black;
    background: #b02b3c;
    font-weight: 600;
    font-size: 22px;
    padding: 6px 14px 6px 14px;
    margin: 10px 0px 10px 0px;
    height: min-content;
    width: stretch;
    max-width: 100%;
    border-radius: 5px;
}

.spacer {
    background: #7d202c;
    height: 3px;
    margin: 10px 0px 10px 0px;
}

.verticalspacer {
    width: 3px;
    height: stretch;
    background: #7d202c;
    margin: 20px;
}


/*Elective CSS*/
.electives {
    display: grid;
    height: min-content;
}

.electivearea {
    display: grid;
}

    .electivearea .electivefilter {
        margin-bottom: 10px;
        width: 25vw;
    }

.electivelabel {
    user-select: none;
    color: black;
    background: #b02b3c;
    font-weight: 600;
    font-size: 22px;
    padding: 6px 14px 6px 14px;
    margin: 10px 0px 10px 0px;
    height: min-content;
    width: max-content;
    border-radius: 5px;
}

.freelective, .relatedelective, .approvedelective {
    overflow-y: scroll;
    scrollbar-color: black;
    height: 300px;
    border: 2px solid black;
    width: 100%;
}

.electiveheader {
    display: inline-flex;
    font-weight: 600;
    color: black;
}

.electivecourse {
    border-radius: 5px;
    width: stretch;
    margin: 7px 5px;
    background: #b5b5b5;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    display: grid;
}

    .electivecourse input {
        margin: 0px 5px 0px 5px;
    }

/*Course CSS*/
.warninglabel {
    cursor: pointer;
    border-radius: 5px;
    background: red;
    padding: 4px 7px;
}

.courseselection {
    width: 50vw;
}

.coursesection {
    max-height: 600px;
    overflow-y: scroll
}

.creditlabel {
    font-weight: 600;
    text-indent: 10px;
    padding-top: 5px;
}

.course {
    margin: 5px;
    padding: 5px;
    width: stretch;
}

.prereqlabel, .descriptionlabel {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    border-radius: 5px;
}

.prereqdiv {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
}

.description {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    text-indent: 30px;
}

.courselabel {
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    margin-left: 20px;
}

.courseheader {
    cursor: pointer;
    user-select: none;
    color: black;
    background: #b5b5b5;
    padding: 7px 10px 7px 10px;
    width: stretch;
    border-radius: 5px;
}

    .courseheader:hover {
        background: #8d8d8d;
    }

    .courseheader[active=true] {
        background-color: #13de11;
    }

.creditslabel {
    user-select: none;
    font-size: 18px;
    background: #b02b3c;
    font-weight: 600;
    padding: 4px 6px 4px 6px;
    color: black;
    margin-left: 5px;
}

/*Scheduling CSS*/
.download {
    border: 2px inset black;
    border-radius: 6px;
    font-size: 20px;
    background: #00ff16;
    margin-top: 14px;
    font-weight: 600;
}

    .download:hover {
        background: #10a11d;
    }

.addyear {
    border: none;
    border-top: 2px solid black;
    background: #6cff5b;
    font-weight: 700;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
}

    .addyear:hover {
        background: #2bff12;
    }

.removeyear {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: #f32b2b;
    font-weight: 700;
    margin-bottom: 8px;
}

    .removeyear:hover {
        background: #ff0000;
    }

.selectedcourses {
    display: inline-flex;
}

    .selectedcourses .courseheader {
        background: #717171;
    }

    .selectedcourses .courseheader:hover {
        background: #949494;
    }
    .selectedcourses .courseheader[active=true]{
        background:green;
    }

.year {
    background: #d8d8d8;
    margin: 1vw 3vh 1vw 3vh;
    width: 50vw;
    display: grid;
    height: stretch;
}

.semestercourses {
    border: 1px solid black;
    height: stretch;
    min-height: 25vh;
    margin-right: 5px;
    width: calc(45vw);
    border-start-end-radius: 8px;
    border-end-end-radius: 8px;
}

.yearlabel {
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    user-select: none;
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid black;
    background: #b02b3c;
    font-size: 26px;
    font-weight: 600;
    color: black;
    width: stretch;
    text-align: center;
    cursor: pointer;
}

    .yearlabel:hover {
        background: #8f1c2b;
    }

.semester {
    display: inline-flex;
    width: calc(50vw - 10px);
}

.semesterdiv {
    margin: 5px 5px 5px 5px;
    min-height: min-content;
    height: stretch;
    width: 45vw;
    display: grid;
}

.selectedlabel {
    user-select: none;
    height: min-content;
    padding: 6px 10px 6px 10px;
    background: #b02b3c;
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: max-content;
    margin: 1vw 0vh 1vw 0vh;
    border-radius: 5px;
}

.scheduleview {
    display: grid;
    height: max-content;
}

.semesteradd {
    margin-left: 15px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color: black;
    width: 35px;
    min-height: max-content;
    height: stretch;
    cursor: pointer;
    background: #6cff5b;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-left: none;
    user-select: none;
    padding: 10px 0px 10px 0px;
}

    .semesteradd:hover {
        background: #1bff00;
    }

.semesterlabel {
    user-select: none;
    background: #b02b3c;
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 6px 10px;
    margin: 0px 4px 4px 4px;
    border-radius: 5px;
}

/*Final Project CSS*/
.nofinal {
    margin-left: -40px;
    margin-top: 75px;
    text-align: center;
    font-size: 25px;
    background: #b02b3c;
    padding: 9px 13px;
    border-radius: 7px;
    font-weight: 600
}

.finalproj {
    display: grid;
    width: stretch;
    justify-content: center;
}

    .finalproj .finalgroup {
        border: 1px solid black;
        padding: 4px;
        width: 45vw;
        border-radius: 5px;
    }

        .finalproj .finalgroup .finalcredits {
            margin: 12px 20px;
        }

        .finalproj .finalgroup .finallabel {
            padding: 6px 10px;
            background: #b02b3c;
            font-size: 20px;
            font-weight: 600;
            border-radius: 5px;
        }
