@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<div class="undervsgrad">
    <button class="adminbutton" onclick="location.href = '/Add-Undergraduate-Course'">
        Add Undergraduate Course
    </button>
    <div class="gradspacer"></div>
    <button class="adminbutton" onclick="location.href = '/Add-Undergraduate-Sheet'">
        Add Undergraduate Sheet
    </button>
    <div class="gradspacer"></div>
    <button class="adminbutton" onclick="location.href = '/Add-Graduate-Course'">
        Add Graduate Course
    </button>
    <div class="gradspacer"></div>
    <button class="adminbutton" onclick="location.href = '/Add-Graduate-Sheet'">
        Add Graduate Sheet
    </button>
</div>